<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Latest Mars of News</h1>
      <p></p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Data!</a></p>
    </div>
    <img style="width:800px;" src="{{ mars.featureImage }}" alt="Mars">
    
    <h3>{{ mars.newsTitle }}</h3>
    <p>{{ mars.newsP}}</p>
    <div>{{ mars.dataTable|safe}}
    </br>
      {%for hemisphere in mars.hemispheres%}
      
      {{hemisphere.title}}</br>
      
      <img style="width:200px;height:200px" src="{{hemisphere.img_url}}"></br></br>
      {%endfor%}
      </div>
  </div>
  
 
  
</body>

</html>
